<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>623277828772-2bq61cufqm4tunesjfdlscrj30li1do8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.623277828772-2bq61cufqm4tunesjfdlscrj30li1do8</string>
	<key>API_KEY</key>
	<string>AIzaSyCcRZb00AgIymcTtmUKVk5_K5SIVTeBlcQ</string>
	<key>GCM_SENDER_ID</key>
	<string>623277828772</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>marklawrence.LogRide-Test</string>
	<key>PROJECT_ID</key>
	<string>logride-test</string>
	<key>STORAGE_BUCKET</key>
	<string>logride-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:623277828772:ios:19014da6a0c05338</string>
	<key>DATABASE_URL</key>
	<string>https://logride-test.firebaseio.com</string>
</dict>
</plist>